


h2{
    text-align: center;
    color:rgb(0, 0, 0);
    }
  
  h3,h4{
    margin-top: 0.5%;
    color:#626262;
  }
  
    .login{

      background-repeat: no-repeat;
      height: 45%;
      width: 20%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      padding: 50px 35px;
  }
  
  input[type=text2]{
  width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  input[type=password]{
    width: 70%;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  
  }
  .text{
    color:#626262;
  }
  